<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="signinpage_url" value="https://www.saucedemo.com/" />
    <add key="productspage_url" value="https://www.saucedemo.com/inventory.html" />
    <add key="cartpage_url" value="https://www.saucedemo.com/cart.html" />
    <add key="checkoutpage_url" value="https://www.saucedemo.com/checkout-step-one.html" />
  </appSettings>
</configuration>